$input-height: 40px;
$input-radius: 4px;
$input-padding: 10px 16px;
$input-bg: #8DAA91;
$input-color: #4F4137;
$input-ph-color: $input-color;
$input-phide-color: $input-bg;

$body-font: "Open Sans";
$rem-base: 16px !default;