footer {
  &.site-footer {
    background: $red;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $blue;
    width: 100%;
    * {
      color: $white;
    }
  }
}